.container {
    background-color: papayawhip;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 60px;
    
}

.item:nth-child(1) {
    background: hotpink;
    justify-self: start;
}
.item:not(:nth-child(1)) {
    background: turquoise;
}


